.Cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--font);

  h3 {
    font-weight: 500;
  }

  &-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  &-checkout {
    width: 350px;
    background-color: var(--main-red);
    margin-top: 20px;
    color: #fff;
    padding: 1rem;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: lighten($color: #c51230, $amount: 20%);
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
  .Error {
    color: var(--main-red);
    font-weight: 700;
  }
  .Validator {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 260px;
    height: 100px;
    margin-left: -130px;
    padding: 1rem;
    border: 2px solid var(--main-red);
    background-color: #fff;
    font-weight: 700;

    a {
      text-decoration: none;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;

      li {
        border: 2px solid var(--main-red);
        padding: 0.4rem 1rem;

        &:hover {
          background-color: var(--main-red);
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .Cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-checkout {
      font-size: 0.9rem;
    }
  }
}
